html {
  overflow: hidden;
}
body {
  background: hsla(192, 95%, 50%, 1);
  background: linear-gradient(
    90deg,
    hsla(192, 95%, 50%, 1) 0%,
    hsla(225, 89%, 47%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(192, 95%, 50%, 1) 0%,
    hsla(225, 89%, 47%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(192, 95%, 50%, 1) 0%,
    hsla(225, 89%, 47%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#07C8F9", endColorstr="#0D41E1", GradientType=1 );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
}

.container {
  max-width: 400px;
  width: 100%;
}

.card {
  margin-top: 100px;
}

.icon {
  position: relative;
  top: -50px;
  background-color: #fff;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  left: 0;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
}
